
/*INDEX*/
.contenedor {
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; 
    height: 70%;
    font-family: 'Roboto', sans-serif;
 }

 .contenedorinicio {
   background-image: url(../images/fondo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  
}
body{
   min-height: 100%;
   font-family: 'Roboto', sans-serif;

}
 


 

 @media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15) ;
        backdrop-filter: blur(10px);
    }
    
 }

 .navbar-nav .nav-link {
    font-size: 1.3rem; 
  }

  /*LOGIN*/

  .bodylogin {
   background-image: url(images/fondo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 
}

.formulario {
 background: rgba(0, 0, 0, 0.1);
 box-shadow: 0 0 30px rgb(0, 0, 0, 0.568);
 padding: 40px;
}

.ingresar {
   box-shadow: 0 0 30px rgb(0, 0, 0, 0.568);
}

/*COMENTARIOS*/

.rating {
   font-size: 24px;
   cursor: pointer;
   display: inline-block;
}