
/*INDEX*/
.contenedor {
   background-image: url(../images/fondo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   font-family: 'Roboto', sans-serif;
}

.imgindex {
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
 

}

.continicio{
  position: relative;
}

.imgindex::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: auto;
  
}

.encabezados h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  position: relative;
}


.encabezados h3::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  width: 50px;
  height: 7px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ff4f5a;
  border-radius: 15px;
}


html{
  min-height: 100%;
  width: 100%;
}

body{
  min-height: 100%;
  font-family: 'Roboto', sans-serif;

}







@media(max-width: 991px){
   .sidebar{
       background-color: rgba(255, 255, 255, 0.15) ;
       backdrop-filter: blur(10px);
   }
   
}

.navbar-nav .nav-link {
   font-size: 1.3rem; 
 }

 /*LOGIN*/

 .bodylogin {
  background-image: url(images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.formulario {
background: rgba(0, 0, 0, 0.1);
box-shadow: 0 0 30px rgb(0, 0, 0, 0.568);
padding: 40px;
}

.ingresar {
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.568);
}

/*COMENTARIOS*/

.rating {
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
}

/*Admin*/

/*RANGO DE PRECIO*/

